{{ if .Params.featured }}
<article class="{{ .Section }} featured">
{{ else }}
<article class="{{ .Section }}">
{{ end }}
	<div class="inner">
		{{ if .Params.External }}
			<a class="post-link" href="{{ .Params.Link }}" target="_blank"></a>
		{{ else }}
			<a class="post-link" href="{{ .Permalink }}"></a>
		{{ end }}


		{{ if .Params.image }}
		<figure class="post-image">
			{{ if .Params.External }}
				<a href="{{ .Params.Link }}" target="_blank"><img src="{{ .Params.image }}" alt="" /></a>
			{{ else }}
				<a href="{{ .Permalink }}"><img src="{{ .Params.image }}" alt="" /></a>
			{{ end }}
		</figure>
		{{ end }}
		<span class="post-meta">
			<span class="post-date">{{ .Date.Format "2/01/2006" }}</span>
			{{ if .Params.author }}
			<span class="post-author"> - {{ .Params.author }}</span>
			{{ end }}
		</span>
		<h2 class="post-title">
			{{ if .Params.External }}
				<a href="{{ .Params.Link }}" target="_blank">{{ .Title }}</a>
			{{ else }}
				<a href="{{ .Permalink }}">{{ .Title }}</a>
			{{ end }}
		</h2>
		{{ if .Description }}
		<p class="post-excerpt">{{ .Description }}</p>
		{{ else }}
		<p class="post-excerpt">{{ .Summary }}&hellip;</p>
		{{ end }}
		<span class="post-more">
			{{ if .Params.External }}
				<a href="{{ .Params.Link }}" target="_blank">Lire la suite <i class="icon-arrow-right"></i></a>
			{{ else }}
				<a href="{{ .Permalink }}">Lire la suite <i class="icon-arrow-right"></i></a>
			{{ end }}
		</span>
	</div>
</article>
